.scanne-wraper {
  height: 60vh;
  width: 60vw;
}
.charges__wrap {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5px;
  flex-direction: column;
  label {
    font-size: 12px;
  }
  input {
    border: 1px solid black;
    border-radius: 10px;
  }
}
