<div class="absolute mynav   flex items-center justify-between navbar navbar-expand-lg">
    <div class="mt-full  px-5 py-3 w-full">
        <ul class="navbar-nav mr-auto flex justify-between items-center w-full text-white">
            <li>
                <a href="" routerLink="/home">Home</a>
            </li>
            <li>
                <a href="" routerLink="/start">Start</a>
            </li>
            <li>
                <a href="" routerLink="/inscription">New User</a>
            </li>
        </ul>

    </div>
</div>